body {
  display: grid;
  grid-template-columns: 3fr 3fr;
  height: 95vh;
  width: 95vw;
  background-color: rgb(10, 10, 10);
}

#board {
  position: relative;
  height: 50vw;
  width: 50vw;
}
#board2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 95vh;
  width: 95vh;
}
#stopWatch { width: 280px; height: auto; text-align: center; display: block; padding: 5px; margin: 0 auto; } #timer, #fulltime { width: auto; height: auto; padding: 10px; font-weight: bold; font-family: tahoma; display: block; border: 1px solid #eee; text-align: center; box-shadow: 0 0 5px #ccc; background: #fbfbf0; color: black; border-bottom:4px solid darkgrey; } button { cursor: pointer; font-weight: 700; } #fulltime { display:none; font-size:16px; font-weight:bold; } 

#leaderboard-h2 {
  margin-bottom: 0px;
}

#control-panel {
  /* gives it white text against dark background */
  color: white;
  height: 49vw;
  width: 49vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/images/fieri/flame.gif');
}

.tile {
  position: absolute;
  top: 0 ;
  left: 0;
  width: 33%;
  height: 33%;
  border-style: solid;
  border-color:gray;
  border-width: 1px;
  transition: all .2s linear;
}
/* 
.tile:hover{
  top: 100px;
} */

#empty {
  background-image: url("./assets/images/fieri/Guy0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#piece1 {
    background-image: url("./assets/images/fieri/Guy1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    z-index: 2;
}
#piece2 {
  background-image: url("./assets/images/fieri/Guy2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;

}
#piece3 {
  background-image: url("./assets/images/fieri/Guy3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;

}
#piece4 {
  background-image: url("./assets/images/fieri/Guy4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
#piece5 {
  background-image: url("./assets/images/fieri/Guy5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
#piece6 {
  background-image: url("./assets/images/fieri/Guy6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
#piece7 {
  background-image: url("./assets/images/fieri/Guy7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
#piece8 {
  background-image: url("./assets/images/fieri/Guy8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}